.contact_p {
  text-align: center;
  line-height: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  color: #424755;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 10px;

}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #313c5a;
  color: white;
}

.contact_h1 {
  box-shadow: 0px 8px 20px -17px black;
  text-align: center;
}

.th_15{
  width: 15%;
}
@media (width>576px) {
  .c_table_div{
    width: 84%;
  }
}
