* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.G_photo {
  width: 24%;
  height: 225px;
  min-width: 150px;
  /* border: 8px solid rgb(40 49 82);
  box-shadow: 0px 7px 15px 5px rgb(94 93 85 / 61%); */
  overflow: hidden;
  margin:0!important;
  cursor: pointer;
}

.G_photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.G_photo:hover img {
  transform: scale(1.1);
}


.Gallery_folder {
  width: 24%;
  height: fit-content;
  max-height: 77vh;
  overflow: auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 2px;
  margin-bottom: 10px;
  
}

.Gallery_images {
  /* d-flex flex-wrap justify-content-center */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
  height: fit-content;
  max-height: 100vh;
  overflow: auto;
  width: 68%;
  gap: 5px;
}

.Gallery_main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: stretch; */
  align-content: space-between;
}



@media (width<768px) {
  .Gallery_folder {
    width: 90%;
  }

  .Gallery_images {
    width: 92%;
  }
}

@media(width<669px) {
  .Gallery_folder {
    width: 460px;
  }
}
@media(width<500px) {
  .Gallery_folder {
    width: 305px;
  }
}

.Folder_h1{
  padding: 5px;
  font-size: 40px;
  text-align: left;
  background-color: #313c5a;
  color: white;
}

/* CSS */
.button-6 {
  background: transparent;
  text-align: left;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
  justify-content: center;
  min-height: 2.7rem;
  transition: all 250ms;
  vertical-align: baseline;
  width: 100%;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}